workflow/shopify-email-automation.json
{
  "name": "Email Manager Automation System for shopify store",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -2384,
        1008
      ],
      "id": "c5ec74af-b41c-438e-8d2f-96386d7577c0",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "5Z0Hyfdos88bF2h6",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8b1d5546-3738-4a18-a0a3-68f9ff91b72f",
              "name": "threadId",
              "value": "={{ $json.threadId }}",
              "type": "string"
            },
            {
              "id": "82279b7f-22e4-43d7-b3cd-a41b76f2f9ab",
              "name": "=Sender Email",
              "value": "={{ $json.from.value[0].address }}",
              "type": "string"
            },
            {
              "id": "047a6005-b4d2-4de6-84cf-af349c898145",
              "name": "Sender Name",
              "value": "={{ $json.from.value[0].name }}",
              "type": "string"
            },
            {
              "id": "5c61d1a0-037c-4415-919c-d0b36f592cdb",
              "name": "Subject Line",
              "value": "={{ $json.headers.subject }}",
              "type": "string"
            },
            {
              "id": "c8efa41a-c63c-4d03-b2c6-21a86ce920fe",
              "name": "Email Body",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "bc4229e3-eaec-4a07-8ee9-26af0f057933",
              "name": "Timestamp",
              "value": "={{ $json.headers.date }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2160,
        1008
      ],
      "id": "08505d97-59d0-46ff-93a9-0a861eacb69b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "inputText": "={{ $json['Email Body'] }}",
        "categories": {
          "categories": [
            {
              "category": "Shipping Enquiry",
              "description": "Email is asking about my shipping process or location that i do ship to"
            },
            {
              "category": "Product Question",
              "description": "Email asking question about a particular product on my store"
            },
            {
              "category": "Refund/Return",
              "description": "Email asking about my refund/return policy "
            },
            {
              "category": "Complaint",
              "description": "Email complaining about the order or product they purchase or anything related to the order or product purchae"
            },
            {
              "category": "Collaboration/Partnership",
              "description": "Email talking about collaborating with our business or offering a service that can help our store"
            },
            {
              "category": "Order Change",
              "description": "Email talking about Change in order"
            },
            {
              "category": "Order Issue",
              "description": "Email talking about order issue"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -1936,
        1008
      ],
      "id": "df53c1ee-5076-46e3-a153-1d5112223a40",
      "name": "Text Classifier",
      "retryOnFail": true
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "addLabels",
        "threadId": "={{ $json.threadId }}",
        "labelIds": [
          "Label_3243823163163649971"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1584,
        432
      ],
      "id": "28b35250-ad45-4a60-bbc3-28fcc97fba31",
      "name": "Add label to thread",
      "webhookId": "1fa9e2dc-9927-4505-baa9-578858dbf46f",
      "credentials": {
        "gmailOAuth2": {
          "id": "5Z0Hyfdos88bF2h6",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "addLabels",
        "threadId": "={{ $json.threadId }}",
        "labelIds": [
          "Label_4077115238021689832"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1584,
        624
      ],
      "id": "091e16c0-af4d-4422-8de2-ee7d7b2ddbf9",
      "name": "Add label to thread1",
      "webhookId": "89d0554a-e305-4527-85b5-5fcf33c29821",
      "credentials": {
        "gmailOAuth2": {
          "id": "5Z0Hyfdos88bF2h6",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "addLabels",
        "threadId": "={{ $json.threadId }}",
        "labelIds": [
          "Label_2155313008779683089"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1584,
        816
      ],
      "id": "e419ad78-066d-49a8-8052-755213625bf9",
      "name": "Add label to thread2",
      "webhookId": "89d0554a-e305-4527-85b5-5fcf33c29821",
      "credentials": {
        "gmailOAuth2": {
          "id": "5Z0Hyfdos88bF2h6",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "addLabels",
        "threadId": "={{ $json.threadId }}",
        "labelIds": [
          "Label_816555139211891931"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1584,
        1008
      ],
      "id": "60875a23-9083-401a-aac5-4d0206108f2b",
      "name": "Add label to thread3",
      "webhookId": "89d0554a-e305-4527-85b5-5fcf33c29821",
      "credentials": {
        "gmailOAuth2": {
          "id": "5Z0Hyfdos88bF2h6",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "addLabels",
        "threadId": "={{ $json.threadId }}",
        "labelIds": [
          "Label_2816282822887805574"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1584,
        1200
      ],
      "id": "6e8bfc3b-5728-4521-9bcc-df97ffcafd9b",
      "name": "Add label to thread4",
      "webhookId": "89d0554a-e305-4527-85b5-5fcf33c29821",
      "credentials": {
        "gmailOAuth2": {
          "id": "5Z0Hyfdos88bF2h6",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "addLabels",
        "threadId": "=",
        "labelIds": [
          "Label_108941625219055421"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1584,
        1392
      ],
      "id": "b9b33aca-4e86-4bb4-a7a5-ede6fe5e7ec1",
      "name": "Add label to thread5",
      "webhookId": "89d0554a-e305-4527-85b5-5fcf33c29821",
      "credentials": {
        "gmailOAuth2": {
          "id": "5Z0Hyfdos88bF2h6",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "addLabels",
        "threadId": "={{ $json.threadId }}",
        "labelIds": [
          "Label_1267353188562805408"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1584,
        1584
      ],
      "id": "47ac880a-7576-4f34-b441-d6f7e301d11a",
      "name": "Add label to thread6",
      "webhookId": "89d0554a-e305-4527-85b5-5fcf33c29821",
      "credentials": {
        "gmailOAuth2": {
          "id": "5Z0Hyfdos88bF2h6",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1360,
        432
      ],
      "id": "751d9588-c3ac-4fe6-b913-44522ea2183f",
      "name": "Mark a message as read",
      "webhookId": "6f93c3e9-ccd0-4cb7-8ff4-b598e8cbb694",
      "credentials": {
        "gmailOAuth2": {
          "id": "5Z0Hyfdos88bF2h6",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# ROLE\n\nYou are a professional customer support assistant for a Shopify eCommerce brand.\n\nYour job is to read incoming customer emails, understand the intent, and generate a helpful, accurate, and personalized reply.\n\n---\n\n# IMPORTANT RULES (STRICT)\n\n1. ONLY output:\n\n   * Email Subject\n   * Email Body (in HTML format using the template below)\n\n2. DO NOT include:\n\n   * Any explanations\n   * Any extra text\n   * Any notes or comments\n\n3. You MUST strictly use the knowledge base tool provided.\n\n   * Do NOT hallucinate\n   * Do NOT assume\n   * Do NOT create information that is not in the knowledge base\n   * If information is missing, respond politely and ask for clarification\n\n4. Always personalize the email using the customer’s name (if available)\n\n5. Always adapt tone based on the situation:\n\n   * Complaint → empathetic and apologetic\n   * Refund → calm and helpful\n   * Pre-sale → friendly and persuasive\n   * General → polite and clear\n\n6. ALWAYS end the email with:\n   Warm regards,\n\n7. Keep responses clear, concise, and human-like\n\n#Tools\n\n1. Google doc tool: Always call this tool whenever you want to reply to a customer\n\n---\n\n# INCOMING EMAIL INFORMATION\n\nCustomer Name: {{ $('Edit Fields').item.json['Sender Name'] }}\nCustomer Email: {{ $('Edit Fields').item.json['Sender Email'] }}\nEmail Subject: {{ $('Edit Fields').item.json['Subject Line'] }}\nEmail Body: {{ $('Edit Fields').item.json['Email Body'] }}\n\n---\n\n# OUTPUT FORMAT\n\nEmail Subject: <write a clear and relevant reply subject>\n\nEmail Body:\n\n<!DOCTYPE html>\n\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n</head>\n<body style=\"margin:0; padding:0; background-color:#f4f6f8; font-family: Arial, sans-serif;\">\n\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#f4f6f8; padding:20px;\">\n    <tr>\n      <td align=\"center\">\n\n```\n    <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#ffffff; border-radius:10px; overflow:hidden;\">\n\n      <tr>\n        <td style=\"background:#111827; color:#ffffff; padding:20px; text-align:center;\">\n          <h2 style=\"margin:0;\"> Jeffree star cosmetics </h2>\n          <p style=\"margin:5px 0 0; font-size:14px;\">Customer Support</p>\n        </td>\n      </tr>\n\n      <tr>\n        <td style=\"padding:30px; color:#333333;\">\n\n          <p>Hi Jeffree star cosmetics,</p>\n\n          <p>\n            Jeffree star cosmetics\n          </p>\n\n          <p>\n            Warm regards,<br>\n            Optimus <br>\n            Jeffree star cosmetics Team\n          </p>\n\n        </td>\n      </tr>\n\n    </table>\n\n  </td>\n</tr>\n```\n\n  </table>\n\n</body>\n</html>\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -704,
        1008
      ],
      "id": "895507b8-dd85-48a4-b6a6-141e41dd5197",
      "name": "AI Agent",
      "retryOnFail": false
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"email_subject\": \"string\",\n  \"email_body\": \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -512,
        1232
      ],
      "id": "07d36fd5-6472-4c48-9ecd-c2c58268d421",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b5a6b94d-c03b-4c33-90f7-50247f62c2b3",
              "name": "Email subject",
              "value": "={{ $json.output.email_subject }}",
              "type": "string"
            },
            {
              "id": "89c59ab4-7046-4c53-97b5-30fbbb5fa0e9",
              "name": "Email body",
              "value": "={{ $json.output.email_body }}",
              "type": "string"
            },
            {
              "id": "fa061034-230e-47bf-a9f3-1d06e5c1e88c",
              "name": "threadId",
              "value": "={{ $('Merge').item.json.threadId }}",
              "type": "string"
            },
            {
              "id": "d625c6cd-1249-4935-a09a-e7c1b350b43b",
              "name": "Sender Email",
              "value": "={{ $('Text Classifier').item.json['Sender Email'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        1008
      ],
      "id": "fae0de17-3b9e-4f0c-9b67-9b30826efaa1",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $json.threadId }}",
        "message": "={{ $json['Email body'] }}",
        "options": {
          "appendAttribution": false,
          "replyToSenderOnly": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -80,
        1008
      ],
      "id": "bb90546c-1531-4a3d-a21f-e70b55aeeeeb",
      "name": "Reply to a message",
      "webhookId": "037c952b-677c-4277-98ff-cdc525d27d8f",
      "credentials": {
        "gmailOAuth2": {
          "id": "5Z0Hyfdos88bF2h6",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "always call this tool for any information about Jeffree star cosmetics - this is the knowledge base ",
        "operation": "get",
        "documentURL": "1UQXStFCbiVK3mV-E9reL74OMaihM8bcxy4sBohwiCGg",
        "simple": false
      },
      "type": "n8n-nodes-base.googleDocsTool",
      "typeVersion": 2,
      "position": [
        -640,
        1232
      ],
      "id": "7e6533bd-aef7-4026-9784-3d7d7a321264",
      "name": "Get a document in Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "1nm4itYBXaHMozRk",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1360,
        624
      ],
      "id": "9c0a92d1-cea2-4318-a721-b5df6861f8c0",
      "name": "Mark a message as read1",
      "webhookId": "6f93c3e9-ccd0-4cb7-8ff4-b598e8cbb694",
      "credentials": {
        "gmailOAuth2": {
          "id": "5Z0Hyfdos88bF2h6",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1360,
        816
      ],
      "id": "fbb74c9c-60f6-4de9-a82e-a5584cae8be9",
      "name": "Mark a message as read2",
      "webhookId": "6f93c3e9-ccd0-4cb7-8ff4-b598e8cbb694",
      "credentials": {
        "gmailOAuth2": {
          "id": "5Z0Hyfdos88bF2h6",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1360,
        1200
      ],
      "id": "50d4ea1f-4171-43a2-9e3c-e6150af51978",
      "name": "Mark a message as read4",
      "webhookId": "6f93c3e9-ccd0-4cb7-8ff4-b598e8cbb694",
      "credentials": {
        "gmailOAuth2": {
          "id": "5Z0Hyfdos88bF2h6",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1360,
        1392
      ],
      "id": "87e1c43c-df27-4cb7-8d2e-925d1059a339",
      "name": "Mark a message as read5",
      "webhookId": "6f93c3e9-ccd0-4cb7-8ff4-b598e8cbb694",
      "credentials": {
        "gmailOAuth2": {
          "id": "5Z0Hyfdos88bF2h6",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1360,
        1584
      ],
      "id": "2d064dde-5e5d-4cd2-a10f-8c33b80846f1",
      "name": "Mark a message as read6",
      "webhookId": "6f93c3e9-ccd0-4cb7-8ff4-b598e8cbb694",
      "credentials": {
        "gmailOAuth2": {
          "id": "5Z0Hyfdos88bF2h6",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 7
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -992,
        928
      ],
      "id": "276a7172-dd6e-421f-a264-12acb25f8fdc",
      "name": "Merge",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1360,
        1008
      ],
      "id": "a89b4670-34aa-4a83-9dff-71157a9e75fc",
      "name": "Mark a message as read7",
      "webhookId": "6f93c3e9-ccd0-4cb7-8ff4-b598e8cbb694",
      "credentials": {
        "gmailOAuth2": {
          "id": "5Z0Hyfdos88bF2h6",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -2016,
        1376
      ],
      "id": "f04b7474-b568-47a0-86d5-2bde78d81dad",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "PVHddEv2gzn7o4Yl",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -800,
        1232
      ],
      "id": "a3732510-247f-4387-99a5-3e97014a73d8",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "PVHddEv2gzn7o4Yl",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "19d9da29457cb229",
          "threadId": "19d9da29457cb229",
          "labelIds": [
            "UNREAD",
            "IMPORTANT",
            "CATEGORY_PERSONAL",
            "INBOX"
          ],
          "sizeEstimate": 7638,
          "headers": {
            "delivered-to": "Delivered-To: lewisabdulll@gmail.com",
            "received": "Received: from mail-sor-f41.google.com (mail-sor-f41.google.com. [209.85.220.41])\r\n        by mx.google.com with SMTPS id 00721157ae682-7b9ee9a7edesor18391447b3.14.2026.04.17.15.49.31\r\n        for <lewisabdulll@gmail.com>\r\n        (Google Transport Security);\r\n        Fri, 17 Apr 2026 15:49:31 -0700 (PDT)",
            "x-received": "X-Received: by 2002:a05:690c:c509:b0:79a:2ef2:7f7 with SMTP id\r\n 00721157ae682-7b9ecf799abmr49302457b3.23.1776466170595; Fri, 17 Apr 2026\r\n 15:49:30 -0700 (PDT)",
            "arc-seal": "ARC-Seal: i=1; a=rsa-sha256; t=1776466171; cv=none;\r\n        d=google.com; s=arc-20240605;\r\n        b=CnqLAQx1C5ZQotlss4HCEpidY4tO4aH0ECOtMpasxQ9KjhqNpRFM3/rqan3BD6fDv1\r\n         ozpAx/SwS0RxmgF9SNKxpLZgP/zN6UPOcC8YZ0bEZ3O+E6qSsFELsAwzLrH8XDE/1Qbd\r\n         M9I2kXrqCJeu+E/zmMAZEIz16UGGIn8Qt7oSiPnsIWcBypWteHPh00M1jqeUpzO4mQkh\r\n         soiVfaM+c4Pa/vyDfbE5xGnj/SCoOwNYWfYflaxogk+1kgBJIurLjDzisHkcwC9lJkHO\r\n         eJMDhoKiWk3FzKI9ezM/WptIcS2ZXsOdwm08wdbxiP/mnTT6K4M8qQA+KIf0FacQA1wP\r\n         7l4Q==",
            "arc-message-signature": "ARC-Message-Signature: i=1; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20240605;\r\n        h=to:subject:message-id:date:from:mime-version:dkim-signature;\r\n        bh=AofAoEcpEbQ6WpPPZ90X/1fyzCh62miEqzwdRkamxgw=;\r\n        fh=FdguIaWcFYjwFUQqElAVxYIih5M8D/354xV50+0+naI=;\r\n        b=XSVC8kUX2ySooJBOGErM9jeRAzVtP+JrhLI6QxD9/X7+POqLH8gVtwcsJps9O4NLto\r\n         b4jA4PFgiUR8TSHRrznDbvHFtfaW5aUId2Ku8peFiU6tSDdIIkDw95Y4wgmZrrducxa4\r\n         VpRrw/4aYJFxmJPxnG0bc1QVVEJdnmnMi3t1LZ4yOrAZ7XlaPSyH3dAvrbdLU/clToWA\r\n         UC/klwnrA4kX5t2SFD45Eyw4M5SehdhUVk0gZSNk6YRFhrxOBm4UAffRGa4vv5rVnJq5\r\n         awi610qT7WEvr8YNhGAhq/TNRvD54dYAuuz8+HLPtrP0WAOYNfCqvSjnbTrRiNGhfG5/\r\n         lssQ==;\r\n        dara=google.com",
            "arc-authentication-results": "ARC-Authentication-Results: i=1; mx.google.com; arc=none",
            "return-path": "Return-Path: <gbolahanakinlabi98@gmail.com>",
            "received-spf": "Received-SPF: pass (google.com: domain of gbolahanakinlabi98@gmail.com designates 209.85.220.41 as permitted sender) client-ip=209.85.220.41;",
            "authentication-results": "Authentication-Results: mx.google.com;\r\n       dkim=pass header.i=@gmail.com header.s=20251104 header.b=LC6eoQUd;\r\n       arc=pass (i=1);\r\n       spf=pass (google.com: domain of gbolahanakinlabi98@gmail.com designates 209.85.220.41 as permitted sender) smtp.mailfrom=gbolahanakinlabi98@gmail.com;\r\n       dmarc=pass (p=NONE sp=QUARANTINE dis=NONE) header.from=gmail.com;\r\n       dara=pass header.i=@gmail.com",
            "dkim-signature": "DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\r\n        d=gmail.com; s=20251104; t=1776466171; x=1777070971; dara=google.com;\r\n        h=to:subject:message-id:date:from:mime-version:from:to:cc:subject\r\n         :date:message-id:reply-to;\r\n        bh=AofAoEcpEbQ6WpPPZ90X/1fyzCh62miEqzwdRkamxgw=;\r\n        b=LC6eoQUdhF1lTi6DML348T/LVEzzqCwO1gJfR1H7LN7XpzQtGpEyZDa09H4U5SjKEC\r\n         EYGuIB/ZEczWGIAwaVxNm4OOLlTS/3Jksv4M9ROhYJachv2Hv0SMXjfS4iVgm0uRHPlR\r\n         ZJbKQVReqFpcpXgLyCz94XOWzlSL/FAcYFj/OkWA300TJu3URqaiXc/z12KXOOhAuxl/\r\n         vuaEpKUMDGkW2HlvG3k7RfzPdPqiOWbG3iHTT9BZEOgfW39nwwYrYY1wnA3g14LbPrDH\r\n         x2bIo2HNNzVBZNXPyUjbptTwFtIP9NKh0wQL1xM1AbVT2nPPKwrNmf91sNYVRJxuODUD\r\n         vedQ==",
            "x-google-dkim-signature": "X-Google-DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;\r\n        d=1e100.net; s=20251104; t=1776466171; x=1777070971;\r\n        h=to:subject:message-id:date:from:mime-version:x-gm-gg\r\n         :x-gm-message-state:from:to:cc:subject:date:message-id:reply-to;\r\n        bh=AofAoEcpEbQ6WpPPZ90X/1fyzCh62miEqzwdRkamxgw=;\r\n        b=Wrfpul7f4FUcVnUmiAUO5l5mzkSNeA6BRPveUbMB98cINqLohk+lCyV9mVPQrcmV3/\r\n         02gX/KkdnDD1lSjxn/mipQ/dZjXKck6YxU9ZJv3GenWMBwKcIXW3o2znMuKcqNZh/uKy\r\n         RJ7RsQmJxj2PxyF5RL8WnvztR+tI/tPPIxZhucodNAhZj+z9abx0R4DCcc69v7vpDxgU\r\n         s3qvt/+VJSr+F4B+eVyglUx1t6USihlOHUrmc2f9aHEl9gDcGi6sPek1uoQz9O2S5OVa\r\n         cTp/UJmMPbiS3r0X/RiMDYfgBZ4eK1+r1JTkjjAiJNBizsREHQHC8+yfSeHnRatmlYI8\r\n         htlA==",
            "x-gm-message-state": "X-Gm-Message-State: AOJu0Ywi04PGglw//ogptUMSS9ZL60P1SfepVbZEzW8ctebXL98Aj4NN\r\n\tEaTpV5L5kU7Vj8wXai++A6GQAtyY4Ee0M7EP3VaWYYMiiG8XCLVvibEI9BojyO7orq1rdB6h+nC\r\n\tJ2PjZrGQHRW4/23vHODUd1Z5CdQN32HapEszSX9w=",
            "x-gm-gg": "X-Gm-Gg: AeBDieu7092i1UR8zqpImdVA2EAHdaDBivwCsfTCss8GmoEE4CCRW0ZVdGDxNQM+XDM\r\n\tBO2UgwV33rOXt39sr3L54qhlntyDrZ3Faq179dXFhG1Dt/BY5p2lLsJrIa0oXZwPQUlXu8r0Cks\r\n\trTxHwWv4m5LvfOubEwMJFlgKbcYKEXtrQYRnstyErIrkd/x7QkC0pVsFoNOo1YCFcGBQqdatFRF\r\n\tIessafVbcihSJX5zj8nPct/jLMj9BWndRMg32g3fPHGuA7fhgULEBqK4Q5H4v+RvxKD34TKxkUn\r\n\tzW7JIUsnKTNEmT0Jm4Od+m8Dn2TbnAT0KJzfP8huG2iDNdTV7o2K8SwkuvANg9m64iJSsnDpd1P\r\n\tYSITd+ydM+UbBf+jT9RQ=",
            "mime-version": "MIME-Version: 1.0",
            "from": "From: Akinlabi Gbolahan <gbolahanakinlabi98@gmail.com>",
            "date": "Date: Fri, 17 Apr 2026 23:49:19 +0100",
            "x-gm-features": "X-Gm-Features: AQROBzD0qCDWLTO_b4P78AQivAJgGKE5DBRr8d7iZz6b4E7dOuNPQqjogIHTGwI",
            "message-id": "Message-ID: <CAPXN16Kft4DKXCSwG76Sge_noZ6o7gNbW3O79rXJF4iLX6Yn2w@mail.gmail.com>",
            "subject": "Subject: Requesting refund for my order",
            "to": "To: \"lewisabdulll@gmail.com\" <lewisabdulll@gmail.com>",
            "content-type": "Content-Type: multipart/alternative; boundary=\"0000000000000dce98064fafc35a\""
          },
          "html": "<div dir=\"ltr\"><p>Hi,</p><p>I received my order yesterday, but unfortunately the size doesn’t fit me properly. I would like to request a refund or return the item.</p><p>Please let me know the next steps.</p><p>Order ID: #77214</p><p>Best regards,<br>Samuel</p></div>\n",
          "text": "Hi,\n\nI received my order yesterday, but unfortunately the size doesn’t fit me\nproperly. I would like to request a refund or return the item.\n\nPlease let me know the next steps.\n\nOrder ID: #77214\n\nBest regards,\nSamuel\n",
          "textAsHtml": "<p>Hi,</p><p>I received my order yesterday, but unfortunately the size doesn&rsquo;t fit me<br/>properly. I would like to request a refund or return the item.</p><p>Please let me know the next steps.</p><p>Order ID: #77214</p><p>Best regards,<br/>Samuel</p>",
          "subject": "Requesting refund for my order",
          "date": "2026-04-17T22:49:19.000Z",
          "to": {
            "value": [
              {
                "address": "lewisabdulll@gmail.com",
                "name": ""
              }
            ],
            "html": "<span class=\"mp_address_group\"><a href=\"mailto:lewisabdulll@gmail.com\" class=\"mp_address_email\">lewisabdulll@gmail.com</a></span>",
            "text": "lewisabdulll@gmail.com"
          },
          "from": {
            "value": [
              {
                "address": "gbolahanakinlabi98@gmail.com",
                "name": "Akinlabi Gbolahan"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">Akinlabi Gbolahan</span> &lt;<a href=\"mailto:gbolahanakinlabi98@gmail.com\" class=\"mp_address_email\">gbolahanakinlabi98@gmail.com</a>&gt;</span>",
            "text": "\"Akinlabi Gbolahan\" <gbolahanakinlabi98@gmail.com>"
          },
          "messageId": "<CAPXN16Kft4DKXCSwG76Sge_noZ6o7gNbW3O79rXJF4iLX6Yn2w@mail.gmail.com>"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Merge": [
      {
        "json": {
          "id": "19d9da29457cb229",
          "threadId": "19d9da29457cb229",
          "labelIds": [
            "IMPORTANT",
            "Label_2155313008779683089",
            "CATEGORY_PERSONAL",
            "INBOX"
          ],
          "snippet": "Hi, I received my order yesterday, but unfortunately the size doesn&#39;t fit me properly. I would like to request a refund or return the item. Please let me know the next steps. Order ID: #77214 Best",
          "sizeEstimate": 7638,
          "historyId": "18771",
          "internalDate": "1776466159000"
        },
        "pairedItem": {
          "item": 0,
          "input": 2
        }
      }
    ],
    "Edit Fields": [
      {
        "json": {
          "threadId": "19d9da29457cb229",
          "Sender Email": "gbolahanakinlabi98@gmail.com",
          "Sender Name": "Akinlabi Gbolahan",
          "Subject Line": "Subject: Requesting refund for my order",
          "Email Body": "Hi,\n\nI received my order yesterday, but unfortunately the size doesn’t fit me\nproperly. I would like to request a refund or return the item.\n\nPlease let me know the next steps.\n\nOrder ID: #77214\n\nBest regards,\nSamuel\n",
          "Timestamp": "Date: Fri, 17 Apr 2026 23:49:19 +0100"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Add label to thread",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to thread1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to thread2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to thread3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to thread4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to thread5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to thread6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to thread": {
      "main": [
        [
          {
            "node": "Mark a message as read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark a message as read": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document in Google Docs": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mark a message as read1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Add label to thread1": {
      "main": [
        [
          {
            "node": "Mark a message as read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark a message as read2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Add label to thread2": {
      "main": [
        [
          {
            "node": "Mark a message as read2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to thread3": {
      "main": [
        [
          {
            "node": "Mark a message as read7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark a message as read4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Mark a message as read5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Add label to thread4": {
      "main": [
        [
          {
            "node": "Mark a message as read4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to thread5": {
      "main": [
        [
          {
            "node": "Mark a message as read5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark a message as read6": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Add label to thread6": {
      "main": [
        [
          {
            "node": "Mark a message as read6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark a message as read7": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5daf8bad-e9a6-4330-84e5-9d6853657da8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dbb12f61808e766d86aa9055b920984bbb307718aeea051cc26b0883ef6e0ba2"
  },
  "id": "6HVNg0JIXrTYn4tT",
  "tags": []
}
